.aws-sld {
    --slider-height-percentage: 50%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 11px;
    --organic-arrow-border-radius: 30px;
    --organic-arrow-height: 44px;
    --organic-arrow-color: #e3ecff;
    --control-button-width: 9%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #6f7879;
    --control-bullet-active-color: #000000;
}